.Card{
    width: 100%;
    p{
        margin: unset;
    }
    img{
        height: 200px;
    }
    .btn_detail{
        background-color: #E66D4F;
        color: white;
        padding: 10px 20px;
        width: 100%;
        position: absolute;
        bottom: 30px;
        left: 0;
        font-weight: bold;
    }
    .btn-favorite{
        position: absolute;
        bottom: 80px;
    }

}
.Card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}